<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EliteGrow | Capcut Download</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>

<body class="min-h-screen flex flex-col items-center justify-center">
<h1 class="text-5xl px-5 text-center leading-none font-bold"> CapCut Pro Apk Download</h1>
<p class="mt-5 px-5 text-center">Get the newest version of CapCut APK, handpicked and shared by the trusted EliteGrow Team — safe, fast, and free.</p>
<div class="flex flex-col bg-zinc-900/10 p-4 mt-5 rounded-xl ">
    <img src="https://images-eds-ssl.xboxlive.com/image?url=4rt9.lXDC4H_93laV1_eHM0OYfiFeMI2p9MWie0CvL99U4GA1gf6_kayTt_kBblFwHwo8BW8JXlqfnYxKPmmBaQDG.nPeYqpMXSUQbV6ZbClv6HEQpIfP4hCWCfl1bBxKYaDyJal7r.6cibevPKZs3h4D3bgRuXbcvjkvVpn9bA-&format=source&h=210" alt="CapCut Logo" class="rounded-xl">
    <a href="https://github.com/RashtriyaGaurav/CapCut/releases/download/capcut/CapCut.apk" download="" class="bg-blue-500 py-2 px-5 rounded-xl text-center text-white font-semibold mt-3">Download Now</a>
</div>
</body>

</html>